<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width"/>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link type="text/css" href="css/css.css" rel="stylesheet" />
<title>下单</title>
</head>

<body>
	<div class="header">
    <table width="100%" border="0" cellspacing="0" class="header_nav">
  <tr>
        	<td width="10%" class="nav_left1"><a  href='javascript:window.history.go(-1)'><</a></td>
            <td width="80%"class="nav_title">确认下单</td>
          <td width="10%" class="nav_r"></td>
        </tr>
    </table>
    </div>
	<div class="rr">
    <table width="70%" border="0" cellspacing="0" class="r1">
    	<tr>
        	<td class="yhm"><input type="text" value="联系人" class="yhm_1" /></td>
        </tr>
        </table>
    <table width="70%" border="0" cellspacing="0"  class="r1">
        <tr>
        	<td class="yhm"><input type="text" value="联系电话" class="yhm_1" /></td>
        </tr>
    </table>
    <table width="70%" border="0" cellspacing="0" class="r1">
        <tr>
        	<td class="yhm"><input type="text" value="详细地址" class="yhm_1" /></td>
        </tr>
    </table>
    <table width="70%" border="0" cellspacing="0" class="r1">
        <tr>
        	<td class="yhm">
                <select class="yhm2">
                    <option class="yhm3">支付方式</option>
                    <option class="yhm3">支付支付宝</option>
                    <option class="yhm3">支付微信支付</option>
                    <option class="yhm3">支付银行卡</option>  
                </select>
            </td>
        </tr>
    </table>
    <table width="70%" border="0" cellspacing="0" class="r1">
        <tr>
        	<td class="yhm"><textarea name="名称" rows="2" class="yhm_1">备注</textarea></td>
        </tr>
    </table>
    <table width="70%" border="0" cellspacing="0" class="r2">
    	<tr>
        	<td>合计：<span>100.00</span></td>
        </tr>
    </table>
    </div>
    <table width="100%" border="0" cellspacing="0" class="btn">
        <tr>
            <td width="50" class="btn1"><input type="button" value="确认下单" class="btn3"></td>
        </tr>
    </table>
</body>
</html>
