<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width"/>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link type="text/css" href="css/css.css" rel="stylesheet" />
<title>点餐</title>
</head>

<body>
	<div class="header">
    <table width="100%" border="0" cellspacing="0" class="header_nav">
    	<tr>
        	<td width="10%" class="nav_left1"><a  href='javascript:window.history.go(-1)'><</a></td>
            <td width="80%"class="nav_title">点餐</td>
            <td width="10%" class="nav_r"></td>
        </tr>
    </table>
    </div>
    <!--/*主要部分*/-->
    <div class="order">
    	<div class="order_left">
			<div class="left">酒水</div>
            <div class="left">酒水</div>
            <div class="left">环境</div>
            <div class="left">环境</div>
        </div>
    	<div class="order_right">
            <a href="product.html"><div class="ordermain">
                <table width="100%" border="0" cellspacing="0" >
                    <tr>
                        <td width="30" class="order_pic"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                        <td width="60" class="order_text">
                            <div take_text_1>麻辣鸡架</div>
                            <div>
                                <div></div>
                                <div class="jjj">麻辣程度：超级辣</div>
                            </div>
                            <div class="sj">规格：<span>29.00</span>/盘</div>
                        </td>
                        <td width="10"><input type="checkbox"/></td>
                    </tr>
                </table>
                </div></a>
            <a href="product.html"><div class="ordermain">
            <table width="100%" border="0" cellspacing="0" >
                <tr>
                    <td width="30" class="order_pic"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                    <td width="60" class="order_text">
                        <div take_text_1>麻辣鸡架</div>
                        <div>
                            <div></div>
                            <div class="jjj">麻辣程度：超级辣</div>
                        </div>
                        <div class="sj">规格：<span>29.00</span>/盘</div>
                    </td>
                    <td width="10"><input type="checkbox"/></td>
                </tr>
            </table>
            </div></a>
            <a href="product.html"><div class="ordermain">
                <table width="100%" border="0" cellspacing="0" >
                    <tr>
                        <td width="30" class="order_pic"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                        <td width="60" class="order_text">
                            <div take_text_1>麻辣鸡架</div>
                            <div>
                                <div></div>
                                <div class="jjj">麻辣程度：超级辣</div>
                            </div>
                            <div class="sj">规格：<span>29.00</span>/盘</div>
                        </td>
                        <td width="10"><input type="checkbox"/></td>
                    </tr>
                </table>
                </div></a>
            <a href="product.html"><div class="ordermain">
                <table width="100%" border="0" cellspacing="0" >
                    <tr>
                        <td width="30" class="order_pic"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                        <td width="60" class="order_text">
                            <div take_text_1>麻辣鸡架</div>
                            <div>
                                <div></div>
                                <div class="jjj">麻辣程度：超级辣</div>
                            </div>
                            <div class="sj">规格：<span>29.00</span>/盘</div>
                        </td>
                        <td width="10"><input type="checkbox"/></td>
                    </tr>
                </table>
                </div></a>
            <a href="product.html"><div class="ordermain">
                <table width="100%" border="0" cellspacing="0" >
                    <tr>
                        <td width="30" class="order_pic"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                        <td width="60" class="order_text">
                            <div take_text_1>麻辣鸡架</div>
                            <div>
                                <div></div>
                                <div class="jjj">麻辣程度：超级辣</div>
                            </div>
                            <div class="sj">规格：<span>29.00</span>/盘</div>
                        </td>
                        <td width="10"><input type="checkbox"/></td>
                    </tr>
                </table>
                </div></a>
            <a href="product.html"><div class="ordermain">
                <table width="100%" border="0" cellspacing="0" >
                    <tr>
                        <td width="30" class="order_pic"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                        <td width="60" class="order_text">
                            <div take_text_1>麻辣鸡架</div>
                            <div>
                                <div></div>
                                <div class="jjj">麻辣程度：超级辣</div>
                            </div>
                            <div class="sj">规格：<span>29.00</span>/盘</div>
                        </td>
                        <td width="10"><input type="checkbox"/></td>
                    </tr>
                </table>
                </div></a>
        </div>  
    </div>
    
    <div class="btn">
    <table width="100%" border="0" cellspacing="0">
        <tr>
            <td class="btn1"><a href="shopping.blade.php"><input type="button" value="加入购物车" class="btn2"></a></td>
    </table>
    </div>
    <div class="kb"></div> 
</body>
</html>
