<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width"/>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link type="text/css" href="css/style.css" rel="stylesheet" />
<title>商家评价</title>
</head>

<body>
    <div class="header">
            <table width="100%" border="0" cellspacing="0" class="header_nav">
                <tr>
                    <td width="10%" class="nav_left1"><a  href='javascript:window.history.go(-1)'><</a></td>
                    <td width="80%"class="nav_title">商家评价</td>
                    <td width="10%" class="nav_r"></td>
                </tr>
            </table>
        </div>
    <div class="bodymain">
    <div class="pl"><!--产品评价-->
                <div class="pll">
                <div class="pl_1"><h4>他爱小三</h4></div> 
                <div class="pl_2">满意：★★★★☆ <span>| 2015-06-12</span></div>
                <div class="pl_3">中国饭好吃,外国人爱吃也是不争的事实。中国的饮食文化源远流长.</div>
                <div class="pl_pic">
                    <table width="100%" border="0" cellspacing="0">
                        <tr>
                            <td class="pic_x"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                            <td class="pic_x"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                            <td class="pic_x"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                            <td class="pic_x"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="pll">
                <div class="pl_1"><h4>他爱小三</h4></div> 
                <div class="pl_2">满意：★★★★☆ <span>| 2015-06-12</span></div>
                <div class="pl_3">中国饭好吃,外国人爱吃也是不争的事实。中国的饮食文化源远流长.</div>
                <div class="pl_pic">
                    <table width="100%" border="0" cellspacing="0">
                        <tr>
                            <td class="pic_x"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                            <td class="pic_x"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                            <td class="pic_x"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                            <td class="pic_x"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
