<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width"/>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link type="text/css" href="css/style.css" rel="stylesheet" />
<title>产品详情</title>
</head>

<body>
	<div class="header">
    <table width="100%" border="0" cellspacing="0" class="header_nav">
    	<tr>
        	<td width="10%" class="nav_left1"><a  href='javascript:window.history.go(-1)'><</a></td>
            <td width="80%"class="nav_title">产品详情</td>
            <td width="10%" class="nav_r"></td>
        </tr>
    </table>
    </div>
    <!--/*主要部分*/-->
    <div class="bodymain">
    	<div><img src="img/banner.png" width="100%" height="auto"/></div>
        <div class="cp">
        	<div class="cp_left">
            	<div>炸鸡与啤酒</div>
                <div><h5>外卖电话：0532-1234567</h5></div>
            </div>
            <div class="cp_right">39.00</div>
        </div>
        <div class="dz">
        	<div class="dz_left">
            	<div>味道：5 速度：5</div>
                <div>李沧区京口路1号2楼</div>
                <div>外卖时间：08:00-23:00</div>
                <div>1.3km</div>
            </div>
            <div class="dz_right"><img src="img/bd.png" width="70%" height="auto" /></div>
        </div>

		<div class="btn">
            <table width="100%" border="0" cellspacing="0">
                <tr>
                    <td class="btn1"><a href="shopping.blade.php"><input type="button" value="加入购物车" class="btn2"></a></td>
                    <td class="btn1"><a href="buy.html"><input type="button" value="立即购买" class="btn3"></a></td>
            </table>
        </div>
        <div class="nr">美食，顾名思义就是美味的食物，贵的有山珍海味，便宜的有街边小吃。但是不是所有人对美食的标准都是一样的，其实美食是不分贵贱的，只要是自己喜欢的，就可以称之为美食。吃前...</div>
        <div class="btnn">
            <table width="100%" border="0" cellspacing="0">
                <tr>
                    <td class="bt"><input type="button" value="产品详情" class="b"></td>
                    <td class="bt"><input type="button" value="产品评价" class="bb"></td>
            </table>
        </div>
     
     <div><!--产品详情-->
        <div class="pic"><img src="img/banner.png" width="100%" height="auto"/></div>
        <div class="pic"><img src="img/banner.png" width="100%" height="auto"/></div>
        <div class="pic"><img src="img/banner.png" width="100%" height="auto"/></div>
    </div>
    
    <div class="pl"><!--产品评价-->
    		<div class="pll">
        	<div class="pl_1"><h4>他爱小三</h4></div> 
            <div class="pl_2">满意：★★★★☆ <span>| 2015-06-12</span></div>
            <div class="pl_3">中国饭好吃,外国人爱吃也是不争的事实。中国的饮食文化源远流长.</div>
            <div class="pl_pic">
            	<table width="100%" border="0" cellspacing="0">
                	<tr>
                    	<td class="pic_x"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                        <td class="pic_x"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                        <td class="pic_x"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                        <td class="pic_x"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="pll">
        	<div class="pl_1"><h4>他爱小三</h4></div> 
            <div class="pl_2">满意：★★★★☆ <span>| 2015-06-12</span></div>
            <div class="pl_3">中国饭好吃,外国人爱吃也是不争的事实。中国的饮食文化源远流长.</div>
            <div class="pl_pic">
            	<table width="100%" border="0" cellspacing="0">
                	<tr>
                    	<td class="pic_x"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                        <td class="pic_x"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                        <td class="pic_x"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                        <td class="pic_x"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    </div>
    <div class="kb"></div>
</body>
</html>
