<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width"/>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link type="text/css" href="css/css.css" rel="stylesheet" />
<title>炸鸡</title>
</head>

<body>
    <div class="header">
    <table width="100%" border="0" cellspacing="0" class="header_nav">
    	<tr>
        	<td width="10%" class="nav_left1"><a  href='javascript:window.history.go(-1)'><</a></td>
            <td width="80%"class="nav_title">炸鸡</td>
            <td width="10%" class="nav_r"></td>
        </tr>
    </table>
    </div>
    
    <!--/*主要部分*/-->
    <div class="takemain">
    	<a href="order.html"><div class="take">
        	<table width="100%" border="0" cellspacing="0">
            	<tr>
                	<td width="30" class="take_pic"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                    <td width="50" class="take_text">
                    	<div take_text_1>城阳一家大方炸鸡</div>
                        <div>
                        	<div></div>
                            <div class="jj">￥:7.00</div>
                        </div>
                        <div class="sj">外卖时间：8:00-23:00</div>
                        <div class="sj">中餐 | 餐馆</div>
                    </td>
                    <td width="20" class="take_phone">
                    	<div class="dh"><a href="tel:15854290371"><img src="img/bd.png" width="100%" height="auto"/></a></div>
                        <div class="jl">100m</div>
                    </td>
                </tr>
            </table>
        </div></a>
        <a href="order.html"><div class="take">
        	<table width="100%" border="0" cellspacing="0">
            	<tr>
                	<td width="30" class="take_pic"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                    <td width="50" class="take_text">
                    	<div take_text_1>城阳一家大方炸鸡</div>
                        <div>
                        	<div></div>
                            <div class="jj">￥:7.00</div>
                        </div>
                        <div class="sj">外卖时间：8:00-23:00</div>
                        <div class="sj">中餐 | 餐馆</div>
                    </td>
                    <td width="20" class="take_phone">
                    	<div class="dh"><a href="tel:15854290371"><img src="img/bd.png" width="100%" height="auto"/></a></div>
                        <div class="jl">100m</div>
                    </td>
                </tr>
            </table>
        </div></a>
        <a href="order.html"><div class="take">
        	<table width="100%" border="0" cellspacing="0">
            	<tr>
                	<td width="30" class="take_pic"><img src="img/cp.jpg" width="100%" height="auto"/></td>
                    <td width="50" class="take_text">
                    	<div take_text_1>城阳一家大方炸鸡</div>
                        <div>
                        	<div></div>
                            <div class="jj">￥:7.00</div>
                        </div>
                        <div class="sj">外卖时间：8:00-23:00</div>
                        <div class="sj">中餐 | 餐馆</div>
                    </td>
                    <td width="20" class="take_phone">
                    	<div class="dh"><a href="tel:15854290371"><img src="img/bd.png" width="100%" height="auto"/></a></div>
                        <div class="jl">100m</div>
                    </td>
                </tr>
            </table>
        </div></a>

    </div>
    
    
   	<!--/*底下导航*/-->
    <table width="100%" border="0" cellspacing="0" class="nav">
    	<tr>
        	<td width="25" class="foot"><a href="index.blade.php"><img src="img/11.png" width="40%" height="auto"/><p>外卖</p></a></td>
            <td width="25" class="foot"><a href="classify.blade.php"><img src="img/2.png" width="40%" height="auto"/><p><span>分类</span></p></a></td>
            <td width="25" class="foot"><a href="shopping.blade.php"><img src="img/33.png" width="40%" height="auto"/><p>购物车</p></a></td>
            <td width="25" class="foot"><a href="member.blade.php"><img src="img/44.png" width="40%" height="auto"/><p>我的</p></a></td>
        </tr>
        
    </table>
    <div class="kb"></div> 
</body>
</html>
