<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width"/>
<meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link type="text/css" href="css/style.css" rel="stylesheet" />
<title>内容</title>
</head>

<body>
    <div class="header">
            <table width="100%" border="0" cellspacing="0" class="header_nav">
                <tr>
                    <td width="10%" class="nav_left1"><a  href='javascript:window.history.go(-1)'><</a></td>
                    <td width="80%"class="nav_title">内容</td>
                    <td width="10%" class="nav_r"></td>
                </tr>
            </table>
        </div>
    <div class="bodymain">
    	<div class="content">作为科学仪器、分析测试行业最高访问量的资讯平台，以及汇聚各种强大功能的互联网平台，Antpedia提供5大平台服务，包括：三大谱会员展示平台、百科商城交易平台、百科人才招聘平台、前沿Lab实验室展示平台、会展培训展示发布平台。</div>
    </div>
</body>
</html>
